html{
    background-color:#192841;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 8%;
    padding-right: 8%;
    color:white;
    font: serif;
}

#header{
    padding-bottom: 3%;
    padding-left: 3%;
    padding-top: 3%;
}

.HomePageIMG{
    float: right;
    padding-right: 30%;
    padding-top: 12%;
    width: 40%;
    margin-right: -150px;
    margin-top: -220px;
}
.recipeIMG{
    padding-right: 30%;
    padding-top: 12%;
    width: 40%;
    height: 15%;
    float: right;
    margin-right: -150px;
    margin-top: -220px;
    
}

/* The following is the dropdown list css from w3schools.com/hoverable dropdown link will be in report */
.dropdown{
    display:inline-block;
    position: relative;
    padding-top: 3%;
    padding-right: 2%;
}

.dropbtn{
    color: white;
    padding: 16px;
    font-size: 35px;
    border: none;
    background-color: #23395d;
}

.dropdown-content{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
    z-index: 1;
}

.dropdown-content a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content{display: block;}
